/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * OLU-web CSS bundle
 */

/***********
 * General *
 ***********/

body {
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;
}

/* Main Iframe */
#openlevelup {
	right: 0;
	left: 0;
	bottom: 0;
	top: 50px;
	position: absolute;
}


/************************
 * Navbar customization *
 ************************/

/* Fluid container full width */
.container-fluid-full {
	padding: 0;
}

/* No bottom border */
.navbar-olu {
	border: 0;
	background: #222;
	box-shadow: none;
}

/* Logo area */
a.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}

.navbar-brand img {
	height: 100%;
	vertical-align: middle;
}

/* Navbar selected item */
@media (min-width: 768px) {
	.navbar-inverse .navbar-nav > .active > a {
		border-bottom: 3px solid orange;
		background-color: #1a1a1a;
		height: 50px;
	}
}

#btn-legacy {
	color: #19B5FE;
}


/***********************
 * Fixes for Bootstrap *
 ***********************/

#olu-sidecontent-search-field {
	color: #333 !important;
}

.leaflet-sidebar a.close {
	opacity: 1 !important;
	text-shadow: none !important;
}

.olu-side-content button {
	color: #333 !important;
}


#olu-sidecontent-newnote-textarea {
	color: black;
}